
@using Bank.Business.Services.Implementations
@inject LayoutService layoutService
@{
    var settings = await layoutService.GetSettingsAsync();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finbank || Responsive HTML 5 Template</title>
    <!-- Favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/images/favicons/site.webmanifest" />
    <meta name="description" content="Finbank HTML 5 Template " />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/vendors/bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="assets/vendors/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="assets/vendors/vegas/vegas.min.css" />
    <link rel="stylesheet" href="assets/vendors/thm-icons/style.css">
    <link rel="stylesheet" href="assets/vendors/language-switcher/polyglot-language-switcher.css">
    <!-- Module css -->
    <link rel="stylesheet" href="assets/css/module-css/01-header-section.css">
    <link rel="stylesheet" href="assets/css/module-css/02-banner-section.css">
    <link rel="stylesheet" href="assets/css/module-css/03-about-section.css">
    <link rel="stylesheet" href="assets/css/module-css/04-fact-counter-section.css">
    <link rel="stylesheet" href="assets/css/module-css/05-testimonial-section.css">
    <link rel="stylesheet" href="assets/css/module-css/06-partner-section.css">
    <link rel="stylesheet" href="assets/css/module-css/07-footer-section.css">
    <link rel="stylesheet" href="assets/css/module-css/08-blog-section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-c0ps2byF9jgrJZtPIdO3ePpkXR49pShT6a7tkwfpnApKsCAjMI8EE3IMCgKFP1AA" crossorigin="anonymous">

    <!-- Template styles -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />

</head>


<body>

    <!-- Start preloader -->
    <div class="loader-wrap">
        <div class="preloader">
            <div class="preloader-close">x</div>
            <div id="handle-preloader" class="handle-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="f" class="letters-loading">
                            f
                        </span>
                        <span data-text-preloader="i" class="letters-loading">
                            i
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            n
                        </span>
                        <span data-text-preloader="b" class="letters-loading">
                            b
                        </span>
                        <span data-text-preloader="a" class="letters-loading">
                            a
                        </span>
                        <span data-text-preloader="n" class="letters-loading">
                            N
                        </span>
                        <span data-text-preloader="k" class="letters-loading">
                            k
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End preloader -->


    <div class="page-wrapper">
        <header class="main-header main-header-style1">

            <!--Start Main Header Style1 Top-->
            <div class="main-header-style1-top">
                <div class="auto-container">
                    <div class="outer-box">
                        <!--Start Main Header Style1 Top Left-->
                        <div class="main-header-style1-top__left">
                            <div class="looking-banking-box ">
                                
                                <div class="select-box clearfix">
                                    <select class="wide">
                                        <option data-display="Personal Banking">
                                            Personal Banking
                                        </option>
                                        <option value="1">Business Banking</option>
                                    </select>
                                </div>
                            </div>
                            <div class="nearest-branch">
                                <span class="icon-map"></span>
                                <a href="#"> @settings["Address"] </a>
                            </div>
                        </div>
                        <!--End Main Header Style1 Top Left-->
                        <!--Start Main Header Style1 Top Right-->
                        <div class="main-header-style1-top__right">
                            <div class="header-menu-style1">
                                <ul>
                                    <li><a href="#">Offers</a></li>
                                    <li><a href="#"> @Html.Raw(settings["TeleIcon"]) @Html.Raw(settings["TelePhone"])</a></li>

                                </ul>

                            </div>
                            <div class="box-search-style1">
                                <a href="#" class="search-toggler">
                                    <span class="icon-search"></span>
                                    Search
                                </a>
                            </div>

                        </div>
                        <!--End Main Header Style1 Top Right-->

                    </div>
                </div>
            </div>
            <!--End Main Header Style1 Top-->


            <nav class="main-menu main-menu-style1">
                <div class="main-menu__wrapper clearfix">
                    <div class="container">
                        <div class="main-menu__wrapper-inner">

                            <div class="main-menu-style1-left">
                                <div class="logo-box-style1">
                                    <a href="index.html">
                                        <img src="~/assets/images/resources/logo-1.png" alt="Awesome Logo" title="">
                                    </a>
                                </div>

                                <div class="main-menu-box">
                                    <a href="#" class="mobile-nav__toggler">
                                        <i class="icon-menu"></i>
                                    </a>

                                    <ul class="main-menu__list">
                                        <li class="dropdown megamenu">
                                            <a asp-action="Index" asp-controller="Home">Home</a>
                                               <li><a asp-action="Index" asp-controller="Dashboard" asp-area="Manage" >Admin Panel</a></li>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">Services</a>
                                            <ul>
                                                <li class="dropdown">
                                                    <a href="#">Accounts</a>
                                                    <ul>
                                                        <li><a asp-action="Index" asp-controller="Deposit">Savings Account</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Cards</a>
                                                    <ul>
                                                        <li><a asp-action="Index" asp-controller="Card">Our All Cards</a></li>
                                                        <li><a asp-action="Index" asp-controller="CardCash">Cashback</a></li>
                                                        <li><a asp-action="Index" asp-controller="CardBusiness" >Business</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Loans</a>
                                                    <ul>
                                                        <li><a asp-action="Index" asp-controller="Loan" >Personal Loan</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a href="#">About</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="About" >About Us</a></li>
                                                <li><a href="team.html">Board of Directors</a></li>
                                           @*     <li><a href="404.html">404 Error</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">FAQ</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="FAQ">FAQ's</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Apply Now</a>
                                            <ul>
                                                <li><a asp-action="Index" asp-controller="Loan">Personal Loan</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">Get In Touch</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="main-menu-style1-right">
                                <div class="header-btn-one">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        
                                        <li class="active"><a asp-action="Index" asp-controller="Home" >@User.Identity.Name</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account">Logout</a></li>
                                     
                                    }
                                    else
                                    {
                                        <div class="main-menu-style1-right">
                                            <div class="header-btn-one">
                                                <a asp-action="Login" asp-controller="Account">
                                                    <span class="icon-home-button"></span>Login
                                                </a>
                                                <a class="style2" asp-action="Register" asp-controller="Account">
                                                    <span class="icon-payment"></span>Open an Account
                                                </a>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </nav>

            @RenderBody()


        <!--Start footer area -->
        <footer class="footer-area">
            <div class="right-shape">
                <img src="~/assets/images/shapes/footer-right-shape.png" alt="">
            </div>

            <!--Start Footer Top-->
            <div class="footer-top">
                <div class="lef-shape">
                    <span class="icon-origami"></span>
                </div>
                <div class="container">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Loans</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Personal Loan</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                       
                                <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Online</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Mobile Banking</a></li>
                                        <li><a href="#">Internet Banking</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>About Us</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Board of Directors</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 single-widget">
                            <div class="single-footer-widget single-footer-widget--link-box">
                                <div class="title">
                                    <h3>Services</h3>
                                </div>
                                <div class="footer-widget-links">
                                    <ul>
                                        <li><a href="#">Savings Account</a></li>
                                        <li><a href="#">Cards</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
            <!--End Footer Top-->

            <!--Start Footer-->
            <div class="footer">
                <div class="container">
                    <div class="row">

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget marbtm50">
                                <div class="our-company-info">
                                    <div class="footer-logo-style1">
                                        <a href="index.html">
                                            <img src="~/assets/images/footer/footer-logo-1.png" alt="Awesome Logo"
                                                title="">
                                        </a>
                                    </div>
                                    <div class="copyright-text">
                                        <p>
                                            Copyright &copy; 2022 <a href="index.html">Finbank.</a> Licensed by the<br>
                                            Central Bank of United States.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                        <!--Start single footer widget-->
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                            <div class="single-footer-widget marbtm50">
                                <div class="footer-widget-contact-info">
                                    <ul>
                                        <li>
                                            <h3>
                                                   @settings["Phone"]</a> 
                                                   <br />
                                                   <br />
                                                    Or
                                                   <br />
                                                   <br />
                                                   @settings["Phone2"]</a>

                                            </h3>
                                            <p>Customer Care</p>
                                        </li>
                                        <li>
                                            <h3>Mon - Fri: 9.00am to 5.00pm</h3>
                                            <p>Banking Hours</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->

                      
                    </div>
                </div>
            </div>
            <!--End Footer-->

            <div class="footer-bottom">
                <div class="container">
                    <div class="bottom-inner">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                        <div class="footer-social-link">
                            <ul class="clearfix">
                                <li>
                                    <a href=" @settings["Instagram"] ">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                        <a href=" @settings["FaceBook"] ">
                                            <i class="fab fa-facebook-f"> </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!--End footer area-->
    </div>
    <!-- /.page-wrapper -->






    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler">
                <i class="fas fa-plus"></i>
            </span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="~/assets/images/resources/mobile-nav-logo.png" alt="" />
                </a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@example.com">info@example.com</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:123456789">444 000 777 66</a>
                </li>
            </ul>
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>


    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label>
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
    </div>


    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <i class="icon-chevron"></i>
    </a>


    <script src="~/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/bxslider/jquery.bxslider.min.js"></script>
    <script src="~/assets/vendors/circleType/jquery.circleType.js"></script>
    <script src="~/assets/vendors/circleType/jquery.lettering.min.js"></script>
    <script src="~/assets/vendors/isotope/isotope.js"></script>
    <script src="~/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/vendors/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendors/odometer/odometer.min.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendors/swiper/swiper.min.js"></script>
    <script src="~/assets/vendors/vegas/vegas.min.js"></script>
    <script src="~/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/assets/vendors/wow/wow.js"></script>
    <script src="~/assets/vendors/extra-scripts/jquery.paroller.min.js"></script>
    <script src="~/assets/vendors/language-switcher/jquery.polyglot.language.switcher.js"></script>

    <!-- Template js -->
    <script src="~/assets/js/custom.js"></script>


</body>

</html>